body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: #440076;
}

#mapa {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

#sugestao {
    position: absolute;
    background: #fff;
    z-index: 9999;
    max-height: 330px;
    overflow-y: auto;
    top: 44px;
    border-radius: 5px;
    list-style: none;
    box-shadow: 10px 10px 10px 10px #e5e5e5;
    padding: 10px;
    width: 45%;
}

#sugestao::-webkit-scrollbar {
    display: none;
}

#sugestao a {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

#sugestao li {
    margin-bottom: 8px;
}



.oculto{
    display: none;
}

.temp {
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 20px;
}

#busca-cidade {
    width: 100%;
}

.form-inline {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.title {
    font-size: 35px;
    margin-bottom: 30px;
}

.dados {
    background: url(../img/lightning-gc513bbb1d_640.jpg);
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.dados:before {
    content: "";
    background: #000000a6;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.clima {
    font-size: 35px;
}

#description {text-transform: capitalize;}

.centro {
    display: flex;
    align-items: center;
}

#vento {
    width: 15px;
}   